:root{

    /*Colores*/

    --rojo-salsa: #FB3640;
    --gris: #605F5E;
    --azul-eg: #247BA0;
    --yale-blue: #386aac;
    --space-cadet: #1D3461;
    

    /*Colores*/

    /*Fuente*/
    /*https://fonts.google.com/specimen/Montserrat?preview.text=Study%20and%20Beyond&preview.text_type=custom*/

    --default-font: 'Montserrat', sans-serif; 
    /*Fuente*/
}


body {
    margin: 0;
}

/*-------------------MOBILE-------------------*/

/*Grid*/
header {
    grid-area: header;
    background-color: var(--azul-eg);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 110%;
}

.contenido {
    grid-area: info;
    display: grid;
    grid-template-rows: 1fr;
}

footer {
    grid-area: footer;
    background-color: var(--space-cadet);

    display: grid;
    grid-template-rows: .5fr;
    font-family: var(--default-font);
    color: white;

    position: absolute;
    bottom: 0;

    width: 100%;
}

main {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "info info info"
    "footer footer footer";
    
}
/*Grid*/

/*Header*/

/*Hamburger Menu*/

.hamMenu {
    display: grid;

}

.hamMenu div {
    background-color: white;
    width: 33%;
    height: 27%;
    margin-left: 16%;
    border-radius: 2px;
    align-self: center;
}

#hm-top {

    margin-bottom: -15%;
}

#hm-mid {

}

#hm-bot {

    margin-top: -15%;
}
/*Hamburger Menu*/

/*Header*/

/*Main content*/

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.transition-div {
   
    margin-left: 25%;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

#sb-div {
    margin-top: 50px;
    background-color: var(--yale-blue);

}

#dk-div {

    margin-top: 15px;
    background-color: var(--rojo-salsa);
}

#dk-div p{
    text-align: center;
    padding-top: 25%;
    color: white;
    font-family: var(--default-font);
    font-size: 220%;
    font-weight: 700;

}


#sb-button {
    width: 80%;
    margin-left: 11%;
    padding-top: 60px;
    padding-bottom: 10px;
}

/*Main content*/

/*Footer*/

/*Footer contact id div*/

#extend-footer{
    height: 30px;
    background-color: white;
}

#FotCon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    height: 90px;
}

/*Footer politics info id*/
#FotPol {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-content: flex-start;
    margin-top: 4%;
}

#FotCon div {
    text-align: center;
}

#FotCon div p{
    padding-top: 4%;
}

/*Footer info container*/
.fIcont {
    text-align: center;
    align-self: center;
    display: grid;
    font-size: 90%;  
}

.fIcont:link {
    text-decoration: none;
    color: white;
}

.email-icon {
    padding-left: 38%;
}

.phone-icon {
    padding-left: 42%;
}

.phone-icon {
    fill: green;
    width: 34%;
    height: 80%;
    margin: 0 -9% 0 -9%;
}

.email-icon {
    width: 30%;
    height: 80%;
    margin: 0 5% -4% 0;
}

#FotPol a {
    padding: 10% 0 10% 0;
}

#pLegal, #pCookies {
    margin-left: 25%;
}

#pPriv, #pCan {
    margin-left: 49%;
}
/*Footer*/

/*-------------------MOBILE-------------------*/