:root{

    /*Colores*/

    --rojo-salsa: #FB3640;
    --gris: #605F5E;
    --azul-eg: #247BA0;
    --yale-blue: #386aac;
    --space-cadet: #1D3461;
    

    /*Colores*/

    /*Fuente*/
    /*https://fonts.google.com/specimen/Montserrat?preview.text=Study%20and%20Beyond&preview.text_type=custom*/

    --default-font: 'Montserrat', sans-serif; 
    /*Fuente*/
}

body {
    margin: 0;
}

/*-------------------MOBILE-------------------*/

/*Grid*/
header {
    grid-area: header;
    background-color: var(--azul-eg);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 110%;
}

.contenido {
    grid-area: info;
    display: grid;
    grid-template-rows: 1fr;
}

footer {
    grid-area: footer;
    background-color: var(--space-cadet);

    display: grid;
    grid-template-rows: .5fr;
    font-family: var(--default-font);
    color: white;

    position: absolute;
    bottom: 0;

    width: 100%;
}

main {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "info info info"
    "footer footer footer";
    
}
/*Grid*/

/*Header*/

/*Hamburger Menu*/

.hamMenu {
    display: grid;

}

.hamMenu div {
    background-color: white;
    width: 33%;
    height: 27%;
    margin-left: 16%;
    border-radius: 2px;
    align-self: center;
}

#hm-top {

    margin-bottom: -15%;
}

#hm-mid {

}

#hm-bot {

    margin-top: -15%;
}
/*Hamburger Menu*/

/*Header*/

/*Main content*/

/* SBButton */

.leftButton {

    perspective: 1000px;
    perspective-origin: 50% 50%;
    position: relative;
}

.leftButton div {

    background-color: var(--yale-blue);
    border-radius: 10%;
    margin-left: 18%;
    height: 100px;
    width: 40%;
}

#thrd-face-rev {
 
    position: absolute;
    
    margin-top: 100px;
    padding: 3% 5% 0 5%;

    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-4deg) rotateY(-22deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}

#sb-button{
    margin-top: 3%;
    transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(26deg) rotateY(337deg) rotateZ(10deg) translateX(-11px) translateY(-3px) translateZ(-12px) skewX(8deg) skewY(1deg);
}

#thrd-top-rev {

    position: absolute;
    height: 95px;
    top: 16px;

    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(85deg) rotateY(-1deg) rotateZ(25deg) translateX(87px) translateY(48px) translateZ(-12px) skewX(350deg) skewY(358deg);

}

#thrd-side-rev {
    position: absolute;
    left: 165px;
    top: 100px;
    width: 30%;
    height: 106px;

    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-10deg) rotateY(60deg) rotateZ(2deg) translateX(-10px) translateY(-7px) translateZ(4px) skewX(3deg) skewY(3deg);
}

/* SBButton */

/* DenButton */

.rightButton {

    perspective: 1000px;
    perspective-origin: 50% 50%;
    position: relative;
    transform: scaleX(-1);

    margin-top: 230px;
}

.rightButton div {

    background-color: var(--rojo-salsa);
    border-radius: 10%;
    margin-left: 18%;
    height: 100px;
    width: 40%;
}

#denmark {

    transform: scaleX(-1) scaleY(1) scaleZ(1) rotateX(26deg) rotateY(337deg) rotateZ(9deg) translateX(-28px) translateY(-23px) translateZ(-12px) skewX(8deg) skewY(1deg);
    color: white;
    font-family: var(--default-font);
    font-size: 240%;
    font-weight: bold;
}
/* DenButton */

/*Main content*/

/*Footer*/

/*Footer contact id div*/

#extend-footer{
    height: 30px;
    background-color: white;
}

#FotCon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    height: 90px;
}

/*Footer politics info id*/
#FotPol {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-content: flex-start;
    margin-top: 4%;
}

#FotCon div {
    text-align: center;
}

#FotCon div p{
    padding-top: 4%;
}

/*Footer info container*/
.fIcont {
    text-align: center;
    align-self: center;
    display: grid;
    font-size: 90%;  
}

.fIcont:link {
    text-decoration: none;
    color: white;
}

.email-icon {
    padding-left: 38%;
}

.phone-icon {
    padding-left: 42%;
}

.phone-icon {
    fill: green;
    width: 34%;
    height: 80%;
    margin: 0 -9% 0 -9%;
}

.email-icon {
    width: 30%;
    height: 80%;
    margin: 0 5% -4% 0;
}

#FotPol a {
    padding: 10% 0 10% 0;
}

#pLegal, #pCookies {
    margin-left: 25%;
}

#pPriv, #pCan {
    margin-left: 49%;
}
/*Footer*/

/*-------------------MOBILE-------------------*/